<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Custom permissions for our content provider -->
    <permission
        android:name="${applicationId}.MEDIA"
        android:protectionLevel="signature" />

    <!-- Declare permissions used by our app -->
    <uses-permission android:name="${applicationId}.MEDIA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/app_banner"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.live.LivePlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
            <meta-data
                android:name="notch.config"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".ui.video.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <!-- 允许绘制到华为刘海屏机型的刘海区域 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <!-- 允许绘制到小米刘海屏机型的刘海区域 -->
            <meta-data
                android:name="notch.config"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".ui.video.VideoPlayerSettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.shares.SharesActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>